
<div class="row">
	<div class="large-12 columns">
		<input type='text' id='search' autofocus='autofocus'></input>
	</div>
</div>


<div class="row" id="services">
	{{#sites}}
	<div class="large-4 columns site" id="{{id}}">
			<a href="http://{{id}}.{{../hostname}}/">{{name}}</a>
			<span class="shortcuts">
				{{#shortcuts}}
					{{.}} 
				{{/shortcuts}}
			</span>
			{{#if sortKey}}
			<span class="sortKey">
				{{sortKey}}
			</span>
			{{/if}}
	</div>
	{{/sites}}
</div>

<div class="row">
	<div class="large-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<div class="panel no-bottom-padding">
			<h4>Tip: Use shortcut URLs!</h4>
					
			<div class="row">
				<div class="large-12 columns">
					<p>Each site can be accessed through custom URLs. For example, to access the iOS developer portal, you can go to <a href="http://ios.{{{hostname}}}/">ios.{{{hostname}}}</a> or <a href="http://{{{hostname}}}/ios">{{{hostname}}}/ios</a>. Press the option/alt key to see all shortcuts.</p>
				</div>
			</div>
		</div>		
	</div>
	<div class="large-6 columns">
		<div class="panel no-bottom-padding">
			<h4>Alfred Workflow</h4>

			<div class="row">
				<div class="large-8 columns">
					<p>Download a free <a href="http://alfredapp.com/">Alfred</a> workflow to quickly jump to any dev center in our directory. <em>Thanks to <a href="http://twitter.com/ws">Will Smidlein</a>!</em></p>
				</div>
				<div class="large-3 columns">
					<a href="/files/devcenter.me.alfredworkflow" class="radius button right">Download</a>
				</div>
			</div>
		</div>		
	</div>
</div>
<script src="javascripts/search.js"></script>